@charset "UTF-8";
@import url("reset.css");
@import url("common.css");

body {
  background-color: #eee;
}
header {
  background-color: #fff;
}
header > ul {
  display: flex;
  justify-content: center;
}
header > ul > li a {
  display: block;
  padding: 20px 30px;
}

.container {
  padding: 30px;
}

.mHover {
  transition: 0.5s;
}
.mHover:hover {
  color: red;
}

footer {
  text-align: center;
  background-color: #fff;
  padding: 20px;
}
